.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: max(1vw,10px);

}

.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    
}

.sidebar-option:hover {
    background-color: tomato; /* Highlight color */
    /* color: white; */
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.sidebar-option:hover img {
    transform: rotate(10deg);
}

.sidebar-option img {
    width: 25px;
    height: 25px;
}

.sidebar-option p {
    font-size: 16px;
    font-weight: 500;
}

.sidebar-option.active {
    background-color:#fff0ed ;
    border-color: tomato ;
}


